<h1>System Activities</h1>

<table id="activity-list">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Action</th>
      <th>Source</th>
      <th>Timestamp</th>
      <th>Parameters</th>
    </tr>
  </thead>
  <tbody>
    <% Activities.each do |activity| %>
      <tr>
        <td><%= activity['uuid'] %></td>
        <td><%= activity['action'] %></td>
        <td><%= activity['source_name'] %></td>
        <td><%= Time.at(activity['created_at'] / 1000.0).strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <% if activity['opts'] && !activity['opts'].empty? %>
            <% activity['opts'].each do |key, value| %>
              <div><strong><%= key %>:</strong> <%= value.is_a?(Hash) ? value.to_json : value %></div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
